<tr>
    <th>{{ mois.nom }}</th>
    <th>{{ mois.annee }}</th>
    <td>{{ mois.exceptionnel.aquis }}</td>
    <td>{{ mois.exceptionnel.pris }}</td>
    <td>{{ mois.exceptionnel.restant }}</td>
    <td>{{ mois.conges.aquis }}</td>
    <td>{{ mois.conges.pris }}</td>
    <td>{{ mois.conges.restant }}</td>
    <td>{{ mois.artt.aquis }}</td>
    <td>{{ mois.artt.pris }}</td>
    <td>{{ mois.artt.restant }}</td>
</tr>